  <h2 class="p-3">Find your Lego !</h2>
<div class="container_search text-center p-1">
  <%= form_with url: toys_path, method: :get, class: "d-flex p-3" do %>
    <select name="cities" id="city-select">
      <option value="">--Your City--</option>
      <option value="Toulouse">Toulouse</option>
      <option value="La Rochelle">La Rochelle</option>
      <option value="Reims">Reims</option>
      <option value="Bordeaux">Bordeaux</option>
      <option value="Paris">Paris</option>
      <option value="Rennes">Rennes</option>
      <option value="Nantes">Nantes</option>
    </select>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Lego..."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <%  end %>
  <div class="container">
    <% if @toys.present?
      @toys.each do |toy| %>

          <div class="row g-2 align-items-stretch">
            <h5>
              <%= link_to toy_path(toy), class:"toy-title" do %>
                <div class="card col-6" style="width: 18rem;">
                <%= cl_image_tag(toy.photo.key, class: "avatar-large") %>
                <p><%= toy.title %></p>
                </div>
              <% end %>
            </h5>
          </div>
      <% end %>
      <% else %>
  </div>
    <h3>No Results</h3>
  <% end %>
</div>
