<div class="container-toy">
    <div class="card-toy">
      <div class="text-start d-inline ml-5">
        <h1><strong><%= @toy.title %></strong></h1>
      </div>

      <div class="pic-toy"><%= cl_image_tag @toy.photo.key, height: 300, width: 500, crop: :fill %></div>

      <div class="">
        <p><%= @toy.description %></p>
      </div>

      <hr>

      <div class="text-end"><h2><strong><%= @toy.price %>€</strong></h2></div>

      <p class="toy-btn"><%= link_to "ADD TO BAG", toys_path %></p>
    </div>
</div>
