<div class="container-toy">
    <div class="card-toy">
      <div class="text-start">
        <h2><strong><%= @toy.title %></strong></h2>
      </div>

      <div class="container">
        <div class="row row-cols-2">
          <div class="rents col-3">
            <%= simple_form_for [@toy, @rent] do |f| %>
              <div class="start"><%= f.input :start_date, as: :date, html5: true %></div>
              <div class="end"><%= f.input :end_date, as: :date, html5: true %></div>
              <%= f.submit "Schedule your rent", class: "schedule" %>
            <% end %>
          </div>

          <div class="col">
            <div class="pic-toy"><%= cl_image_tag @toy.photo.key, height: 400, width: 700, crop: :fill %></div>
          </div>
        </div>
      </div>

      <div class="description">
        <p><%= @toy.description %></p>
      </div>

      <div class="text-end"><h2><strong><%= @toy.price %>€/day</strong></h2></div>

    </div>
</div>
