
<div class="container d-flex justify-content-center border border-dark">
  <div class="row">
    <div class="col-md-8">
      <div class="text-start">
        <h1><%= @toy.title %></h1>
      </div>

      <%= cl_image_tag @toy.photo.key, height: 300, width: 400, crop: :fill %>

      <div class="">
        <p><%= @toy.description %></p>
      </div>

      <h2><strong><%= @toy.price %>€</strong></h2>

      <div class="btn btn-primary col-12 w-300"><%= link_to "Reservation", toys_path %></div>
    </div>
  </div>
</div>
