<div class="text-center">
  <h2> Congratulations! </h2>
  <h3>See who wants to use yours toys with you !</h3>
</div>

<div class="wrapper-dashboard">

  <ul class="list-unstyled">
    <% @toys.each do |toy| %>
    <% toy.rents.each do |rent| %>
    <li class="padded dashboard">


      <% if rent.status == "Pending host validation" %>
      <%# <%= cl_image_tag(rent.user.photo. ) %> %>

      <div class='product-body'>

        <h3> <%= rent.user.name %> wants to use your toy ! </h3>
        <p> Dates : <%= booking.start_date %> and <%= rent.end_date %> </p>


       <!-- end of product-body -->

      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><%= link_to "Accept ", my_rent_path(rent, rent: {status: "Confirmed"}), method: :patch, class: "btn btn-success"%></li>
        <li><%= link_to "Decline", my_rent_path(rent, rent: {status: "Canceled"}), method: :patch, class: "btn btn-danger"%></li>
      </ul>

      <% elsif rent.status == "Confirmed" %>
      <%# <%= cl_image_tag(rent.user.photo.path,  ) %> %>

      <div class='product-body'>
        <h3 class="congrat-text"> Congrats ! <%= rent.user.name %> is ok to use your toy </h3>
        <p> Dates : <%= booking.start_date %> to <%= booking.end_date %> </p>
        <p> Prepare your toy !</p>
      </div>

      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><p> Status </p> <p> <i class="fa fa-check-square-o icon-validate" aria-hidden="true"></i></p></li>
      </ul>

      <% elsif rent.status == "Canceled" %>
      <%# <%= cl_image_tag(rent.user.photo.path, width: 400, height: 300, crop: :fill, class: "" ) %> %>

      <div class='product-body'>
        <h3 class="congrat-text"> We are so sorry... You won't rent with <%= rent.user.first_name %> </h3>
        <p> Dates : <%= rent.start_date %> to <%= rent.end_date %> </p>
      </div>

      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><p> Status </p> <p> <i class="fa fa-times icon-validate" aria-hidden="true"></i></p></li>
      </ul>

      <% end %>
    </li>
    <hr>
    <% end %>
    <% end %>
  </ul>
</div>
