<div class="profile-banner">
  <p>Glad to See You <%= current_user.name %> !</p>
  <p> Here we go for a little sum up of your account</p>
</div>
<div class="container rents-owners">
  <div class="row">
    <div class="col-6">
      <h2> The LEGOS I rent </h2>
      <div class="wrapper-dashboard padded flex">
        <ul class="list-unstyled">
          <% @rents.each do |rent| %>
          <li class="padded dashboard mb-5 rounded p-3" style="border: solid black 2px">
            <div class='product-body'>
            <p> <strong><%= rent.toy.title %> </strong></p>
              <p>Start Date: <strong><%= rent.start_date %>/</strong></p>
              <p>End date: <strong><%= rent.end_date %></strong></p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <div class="col-6 d-flex">
    <div>
      <h2> The rents people did to me</h2>
      <div class="wrapper-dashboard padded flex">
        <ul class="list-unstyled">
          <% @my_rents.each do |rent| %>
          <li class="padded dashboard mb-5 rounded p-3" style="border: solid black 2px">
            <div class='product-body'>
              <p>Start Date: <strong><%= rent.start_date %>/</strong></p>
              <p>End date: <strong><%= rent.end_date %></strong></p>
              <p>Request status: <strong><%= rent.acceptation %></strong></p>
              <p>The renter is: <strong><%= rent.user.name %></strong></p>
            </div>
            <div style="display: flex; gap: 1em">
        <%= button_to "Accept request", accept_owner_rent_path(rent), method: :patch %>
        <%= button_to "Decline request", reject_owner_rent_path(rent), method: :patch %>
        <% end %>
        </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
</div>
